body {
  background: linear-gradient(45deg, black, #333);
  font-family: monospace;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  align-items: baseline;
  font-size: 66px;
  margin-bottom: 80px;
}

h1,
h2 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 50px;
  margin: 50px 50px 0 10%;
}

h2 {
  font-size: 32px;
}

span {
  font-size: 18px;
}

i {
  color: gold;
}

.flex-box {
  display: flex;
}

.content {
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.left-container {
  width: 35%;
}

.left-header {
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: gold;
  font-family: monospace;
  height: 50px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: goldenrod;
}

#refresh-btn {
  margin-left: 20px;
}

#leaderboard {
  max-height: 474px;
  overflow-y: scroll;
  border: 2px solid black;
  padding: 0;
}

.item {
  justify-content: space-between;
  padding: 5px 0;
}

.even {
  background-color: #333;
}

.odd {
  background-color: #444;
}

.item-player {
  margin-left: 20px;
}

.item-score {
  margin-right: 20px;
}

form {
  flex-direction: column;
  width: 35%;
}

input {
  background-color: #252525;
  color: white;
  width: 80%;
  height: 25px;
  border: 1px solid white;
  margin: 16px 10% 80px 10%;
  transition: 0.5s;
}

input:hover {
  border-color: gold;
}

input:focus {
  width: 90%;
  margin: 16px 5% 80px 5%;
}

input::placeholder {
  font-family: monospace;
}

.btn-container {
  justify-content: space-between;
  align-items: center;
}

#message {
  font-size: 16px;
  text-align: center;
  color: red;
  margin: 0 20px;
}

#submit-btn {
  align-self: flex-end;
}

footer {
  justify-content: center;
  background-color: gold;
  color: black;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
    font-size: 50px;
  }

  h1 {
    font-size: 32px;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
  }

  span {
    font-size: 16px;
  }

  .content {
    flex-direction: column;
  }

  .left-container,
  form {
    width: 90%;
    margin: auto;
  }
}
